.header {
    height: 7vh;
    width: 100%;
    background: #fff;
    position: fixed;
    box-shadow: 1px 1px 3px rgb(185, 183, 183);

    nav {
        display: flex;
        height: 100%;
        
        .logo-wrapp {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .logo {
                text-decoration: none;
                color: #000;
                font-size: 24px;
                font-weight: bold;
                font-family: 'DM Serif Text', serif;
            }
        }

        .nav-links {
            flex: 1;
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .nav-link {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

.header-gap {
    height: 8vh;
}