@import './header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.App {
    min-height: 100vh;
    width: 100%;
    background: #eef0f1;
    color: #000;
}

.nav-gap {
    height:  8vh;
}

.blog-link {
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    position: fixed;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.blog-preview {
    min-height: 170px;
    width: 70%;
    margin-bottom: 20px;
    background: rgb(248, 247, 247);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
    border: 1px solid #eee;
    transition: .3s;

    &:hover {
        border: 1px solid rgb(223, 222, 222);
        background: #fff;
    }
}

.blog-preview-container {
    min-height: 140px;
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}